<!DOCTYPE html>
<html xmlns="http://www.w3.or/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<title>Importação de arquivos</title>
</head>
<style>

.body{
	background-color: #A9A9A9;
}
.container { 
    text-align: center; 
}
</style>
<body class="body">
<div class="container">			
	<h1>Importação de arquivos</h1><br>
	<a class="btn btn-primary" href="/" role="button">Pagina inicial</a><br><br>
	<h3>Fazer upload</h3>
	<form th:action="@{/UploadFile}" method="POST"
		enctype="multipart/form-data" >
		<input type="file" name="files" multiple /><br/> <br/><input
			type="submit" class="btn btn-primary" value="Subir Arquivo">
		<br>
	</form><br><br>
	
	<h3>Fazer download</h3>
	<form th:action="@{/DownloadFile}" method="GET" >
		<input type="text"  class="form-group col-md-4" name="document" placeholder="Nome do documento"/><br><br>
		<input type="submit" class="btn btn-primary" value="Baixar Arquivo"><br>
	</form>
</div>
</body>
</html>