<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
<title>Index</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<style>
.container { 
    text-align: center; 
}
</style>
<body>
<div class="container">
	<h1>Home Page!</h1>
	<a class="btn btn-primary" href="/cadastrocliente" role="button">Cadastro de Clientes</a>
</div>
</body>
</html>