<!DOCTYPE html>
<html xmlns="http://www.w3.or/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<head>
<meta charset="utf-8">
<title>Cadastro Cliente</title>
</head>
<style>

.body{
	background-color: #A9A9A9;
}
.container { 
    text-align: center; 
}
</style>
<body class="body">
<div class="container">
<h1>Cadastro de clientes B2B</h1>

	<form action="salvarclienteb2b" method="post">
		<label>Categoria</label>
		<input name="categoria"><br><br>
		<label>Razão Social</label>
		<input name="razaosocial"><br><br>
		<label>CNPJ</label>
		<input name="cnpj" required><br><br>
		<label>Endereço</label>
		<input name="endereco"><br><br>
		<label>Contato</label>
		<input name="contato"><br><br>
		<label>Email</label>
		<input name="email"><br><br>
		<label>Produto</label>
		<input name="produto"><br><br>
		<input class="btn btn-primary" type="submit" value="Salvar">
	</form><br><br>
	
	<a class="btn btn-primary" href="/" role="button">Pagina inicial</a><br><br>
	<a class="btn btn-primary" href="/listaclientes" role="button">Lista de clientes</a><br><br>
	
</div>
</body>
</html>