<!DOCTYPE html>
<html xmlns="http://www.w3.or/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<head>
<meta charset="ISO-8859-1">
<title>Editar cadastros</title>
</head>
<style>
.container { 
    text-align: center; 
}
</style>
<body>
<div class="container">
<h1>Editar cadastros</h1>
	<form th:action="@{/saveUsuarios}" th:object="${cliente}"
			method="post" >
			<label>Email</label>
			<input type="email" th:field="*{email}" placeholder="Email"
							class="form-control" required /><br><br>
			<label>Nome</label>
			<input type="text" th:field="*{nome}"
							placeholder="Nome" class="form-control" required
							minlength="2" maxlength="20" />	<br><br>			
			<label>Sobrenome</label>
			<input type="text" th:field="*{sobrenome}"
							placeholder="Sobrenome" class="form-control" required
							minlength="4" maxlength="20" /><br><br>
			<label>CPF</label>
			<input type="text" th:field="*{cpf}" placeholder="CPF"
							class="form-control" required minlength="11" maxlength="15" /><br><br>
			<label>Telefone</label>
			<input type="text" th:field="*{telefone}" placeholder="Telefone"
							class="form-control" required minlength="10" maxlength="20" /><br><br>
		<button type="submit" class="btn btn-info col-4" style="background-color:#87ceeb;">Salvar dados</button>
	</form>
</div>
</body>
</html>