<!DOCTYPE html>
<html xmlns="http://www.w3.or/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<head>
<meta charset="utf-8">
<title>Cadastro Cliente</title>
</head>
<style>

.body{
	background-color: #A9A9A9;
}
.container { 
    text-align: center; 
}
</style>
<body class="body">
<div class="container">
 	<h1>Selecione o tipo de cliente</h1><br>
	<a class="btn btn-primary" href="/B2C" role="button">Cadastrar cliente B2C</a><br><br>
	<a class="btn btn-primary" href="/B2B" role="button">Cadastrar cliente B2B</a><br><br>
	<a class="btn btn-primary" href="/" role="button">Pagina inicial</a><br><br>
</div>
</body>
</html>